PORT=5000
JWT_SECRET=change_this_to_a_long_random_string
CLIENT_ORIGIN=http://localhost:5173
DB_STORAGE=./data/zteam.sqlite
ADMIN_EMAIL=admin@zteam.local
ADMIN_PASSWORD=ChangeMe123!
ADMIN_NAME=Super Admin
UPLOAD_DIR=./uploads
